<button type="button" style="height: 5vh;" (click)="clicked($event)">
  Start
</button>

<app-control [min]="0" [max]="5" (onValueChanged)="updateValue($event)">
</app-control>

<hr>

<div *ngIf="dices.length == 0">
  <h1>Please set the number of dices</h1>
</div>
<app-dice *ngFor="let v of dices; let i = index"
  [diceValue]="v"
  (click)="rollDice(i)"></app-dice>

<!--
<app-dice [diceValue]="dices[0]" (click)="rollDice(0)"></app-dice>
<app-dice [diceValue]="dices[1]" (click)="rollDice(1)"></app-dice>
<app-dice [diceValue]="dices[2]" (click)="rollDice(2)"></app-dice>
<app-dice [diceValue]="dices[3]" (click)="rollDice(3)"></app-dice>
-->
