<mat-toolbar color="primary" fxLayout="row column" fxLayoutAlign="space-between center">
  <div fxlayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
    <img src="assets/rsvp.jpeg" class="mylogo">
    <span>RSVP to my Party</span>
  </div>

  <button mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>

<form #rsvpForm="ngForm" (ngSubmit)="processForm(rsvpForm)"
  fxLayout="column row" fxLayoutGap="3wh">

  <mat-form-field>
    <input matInput type="text" id="name" name="name"
      ngModel #nameField="ngModel"
      placeholder="Please enter your name" required>
  </mat-form-field>

  <mat-form-field>
    <input type="tel" matInput id="phone" name="phone" ngModel
      placeholder="Please enter your phone number" required #phoneField>
  </mat-form-field>

  <div fxLayout="row column" fxLayoutAlign="space-around">
    <button mat-raised-button type="reset" color="basic">
      <mat-icon>clear</mat-icon>
      Clear
    </button>
    <button mat-raised-button type="submit" [disabled]="rsvpForm.invalid" color="primary">
      <mat-icon>reply</mat-icon>
      RSVP!
    </button>

  </div>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" ngModel > <br>

  <label for="attending">Attending:</label>
  <input type="radio" id="attending" name="attending" value="yes" ngModel > YES
  <input type="radio" id="attending" name="attending" value="no" ngModel r> NO <br>

  <label for="allergies">Allergies:</label>
  <input type="checkbox" id="allergies" name="allergies-seafood" value="seafood" ngModel> SEAFOOD
  <input type="checkbox" id="allergies" name="allergies-peanut" value="peanut" ngModel> PEANUT
  <input type="checkbox" id="allergies" name="allergies-kids" value="kids" ngModel> KIDS <br>

  <label for="arrival">Arrival:</label>
  <input type="date" id="arrival" name="arrival" ngModel> <br>

  <label for="comments">Comments:</label>
  <textarea name="comments" id="comments" cols="30" rows="10" ngModel></textarea>
  <br>


</form>
