  <div>
    Dirty: {{ rsvpForm.dirty }} Pristine: {{ rsvpForm.pristine }}
    Valid: {{ rsvpForm.valid }} Invalid: {{ rsvpForm.invalid }}
  </div>

<h1>RSVP to my Party</h1>

<form #rsvpForm="ngForm" (ngSubmit)="processForm(rsvpForm)">

  <label for="name">Name:</label>
  <input type="text" id="name" name="name" ngModel #nameField="ngModel" required> <br>

  <label for="phone">Contact:</label>
  <input type="tel" id="phone" name="phone" ngModel required> <br>

  <label for="email">Email:</label>
  <input type="email" id="email" name="email" ngModel required> <br>

  <label for="attending">Attending:</label>
  <input type="radio" id="attending" name="attending" value="yes" ngModel required> YES
  <input type="radio" id="attending" name="attending" value="no" ngModel required> NO <br>

  <label for="allergies">Allergies:</label>
  <input type="checkbox" id="allergies" name="allergies-seafood" value="seafood" ngModel> SEAFOOD
  <input type="checkbox" id="allergies" name="allergies-peanut" value="peanut" ngModel> PEANUT
  <input type="checkbox" id="allergies" name="allergies-kids" value="kids" ngModel> KIDS <br>

  <label for="arrival">Arrival:</label>
  <input type="date" id="arrival" name="arrival" ngModel> <br>

  <label for="comments">Comments:</label>
  <textarea name="comments" id="comments" cols="30" rows="10" ngModel></textarea>
  <br>

  <button type="submit" [disabled]="rsvpForm.invalid">
    RSVP!
  </button>

</form>
