<form #form="ngForm" (ngSubmit)="processForm(form)">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" ngModel required>
  <br>

  <label for="guest">Guest:</label>
  <input type="number" name="guest" id="guest" ngModel min="0" max="3">
  <br>

  <label for="phone">Phone:</label>
  <input type="tel" name="phone" id="phone" ngModel required>
  <br>

  <label for="attendingDay">Attending:</label>
  <input type="date" name="attendingDay" id="attendingDay" ngModel required>
  <br>

  <label for="vegetarian">Vegetarian:</label>
  <input type="radio" name="vegetarian" id="vegetarian" ngModel value="no" selected required> NO
  <input type="radio" name="vegetarian" id="vegetarian" ngModel value="yes" required> YES
  <br>

  <label for="allergies">Allergies:</label>
  <input type="checkbox" name="allergies-peanut" id="allergies" ngModel> PEANUT
  <input type="checkbox" name="allergies-gluten" id="allergies" ngModel> GLUTEN
  <input type="checkbox" name="allergies-diary" id="allergies" ngModel> DIARY
  <input type="checkbox" name="allergies-shellfish" id="allergies" ngModel> SHELLFISH
  <br>

  <label for="comments">Comments:</label>
  <textarea name="comments" id="comments" cols="30" rows="10" ngModel></textarea>
  <br>

  <button type="reset">Clear</button>
  <button type="submit" [disabled]="form.invalid">Reply</button>

</form>
